// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "~bootstrap";
@import "~bootstrap-vue";

.margin0-10 {
    margin: 0 10px;
}

@import "vue-loading-overlay/dist/vue-loading";
@import "vue-multiselect/dist/vue-multiselect.min";
